<div class="conainer-fluid">
  <div class="pl-5 text-white top-title">
    <h2 class="pl-5 ml-3 pt-4 pb-4 text-left">Liste des membres</h2>
  </div>

  <div class="recherche">
    <h5 class="w-100">Barre de recherche :</h5>
    <form [formGroup]="searchForm" class="search__form">

      
      <mat-form-field class="search__form_field" appearance="outline">
        <mat-label>Tout</mat-label>
        <input type="text"
               aria-label="Tout"
               matInput
               formControlName="Tout"
               (keyup)="applyFilterbis()"
        >
      </mat-form-field>

      <mat-form-field class="search__form_field" appearance="outline" style=" margin: 0 15px;">
        <mat-label>Licence FFK </mat-label>
        <input type="text"
               aria-label="FFK"
               matInput
               formControlName="FFK"
               (keyup)="applyFilterbis()"
        >
      </mat-form-field>

  <mat-form-field class="search__form_field" appearance="outline" style=" margin: 0 15px;" >
    <mat-label>Nom</mat-label>
    <input type="text"
           aria-label="Recherche par Nom"
           matInput
           formControlName="Nom"
           (keyup)="applyFilterbis()"
    >
  </mat-form-field>

  <mat-form-field class="search__form_field" appearance="outline" style=" margin: 0 15px;" >
    <mat-label>Prenom </mat-label>
    <input type="text"
           aria-label="Prenom"
           matInput
           formControlName="Prenom"
           (keyup)="applyFilterbis()"
    >
  </mat-form-field>


</form>
  </div>

    <div class="shadow-sm p-3 mb-5 bg-white rounded operation">
      <h6>Operations :</h6>
      <button class="btn btn-info ml-3" (click)="exportexcel()"><i class="bi bi-file-earmark-spreadsheet-fill mr-2"></i>Exporter en Excel</button>
    </div>

  <table id="excel-table" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8"  >

    <ng-container matColumnDef="{{col}}"  *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef  class="p-2" mat-sort-header>
         <span class="text-center">
          {{col}}
        </span>
        
      </th>
      <td mat-cell *matCellDef="let element;let i=index" class="p-2">
      <div  [style.width]="col==='Adresse' || col ==='Observation'?'200px':'auto'">
        <span  *ngIf="col === 'DateNaissance' || col === 'DateInscription'" #spanHeader>
          {{element[col] | date: 'dd/MM/yyyy'}}
        </span>
        <span *ngIf="col === 'categorie'">
          {{element[col].nomCategorie}}
        </span>
        <span *ngIf="col !== 'DateNaissance' && col !== 'categorie' && col !== 'DateInscription'" #spanHeader>
          {{element[col]}}
        </span>
      </div>
    </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element === expandedElement  ? 'expanded' : 'collapsed'">
          
          <div class="example-element-description" *ngFor = "let col of notdisplayedColumns">
            {{col}}
            <span class="example-element-description-attribution"> {{element[col]}} </span>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 100, 1000]" showFirstLastButtons></mat-paginator>







