<div class="container">
  <h1>
    Ajouter Membre
  </h1>
    <form  [formGroup]="form" (Submit)="submit()">

        <div class="form-group">
          <label for="LicenceFFK">Numero de Licence FFK</label>
          <input type="text" id="LicenceFFK" class="form-control" formControlName="licenceFFK" [ngClass]="form.controls['licenceFFK'].invalid && licenceFFK.touched ? 'is-invalid' : form.controls['licenceFFK'].valid? 'is-valid': '' ">
         <div class="invalid-feedback" *ngIf="licenceFFK.touched">  
              Ce champs est obligatoire.
          </div>
        </div>


    </form>
  </div>
