.top-title {
    background: linear-gradient(to right, #293241, #ee6c4d);
    box-shadow: 1px 2px 10px #80251f;
      }
      table{
        max-width: 100%;
        min-width: 100%;
      }
      .btn-edit {
        text-align: right;
      }
      h2 {
        text-align: center;
        padding-top: 20px;
      }
      .alertBack {
        background: #ffffff2e;
        position: fixed;
        right: 0;
        z-index: 3;
        width: calc(100% - 15rem);
        height: 100%;
        align-items: center;
        padding: 200px;
      }
    
    
   