<nav class="navbar">
  <input class="form-control" type="text" name="nom" [(ngModel)] = "nom" (ngModelChange) = "Search()" placeholder="Entrez le nom et/ou prenom">
</nav>


<div class="mat-elevation-z8" id='t'>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>


    <ng-container matColumnDef="licenceFFK">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>LicenceFFK</th>
      <td mat-cell *matCellDef="let row">{{row.licenceFFK}}</td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let row">{{row.nom}}</td>
    </ng-container>
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
      <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
    </ng-container>
    <ng-container matColumnDef="dateNaissance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de naissance</th>
      <td mat-cell *matCellDef="let row">{{row.dateNaissance}}</td>
    </ng-container>
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Genre</th>
      <td mat-cell *matCellDef="let row">{{row.genre}}</td>
    </ng-container>
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</th>
      <td mat-cell *matCellDef="let row">{{row.categorie}}</td>
    </ng-container>
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
      <td mat-cell *matCellDef="let row">{{row.adresse}}</td>
    </ng-container>
    <ng-container matColumnDef="tlphn1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel1</th>
      <td mat-cell *matCellDef="let row">{{row.tlphn1}}</td>
    </ng-container>
    <ng-container matColumnDef="tlphn2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel2</th>
      <td mat-cell *matCellDef="let row">{{row.tlphn2}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="activites">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activites</th>
      <td mat-cell *matCellDef="let row">{{row.activites}}</td>
    </ng-container>
    <ng-container matColumnDef="nbInscritsFamille">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NbInscritsFamille</th>
      <td mat-cell *matCellDef="let row">{{row.nbInscritsFamille}}</td>
    </ng-container>
    
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15,20]">
  </mat-paginator>
</div>
