<section id="top">
  <img src="../../assets/img/fuji.jpg" alt="">
  <div class="background-filter"></div>
  <nav class="navbar">
    <div class="logo"> <img src="../../assets/img/logo.png" alt=""> </div>
    <div class="nav">
      <ul>
        <li>connexion</li>
        <li><i class="bi bi-house-door-fill"></i></li>
      </ul>
    </div>
  </nav>
  <div class="center">
    <div class="left">
          <h1>Bienvenue</h1>
          <span>connectez-vous afin de gérer votre club</span>
          <p>Le code d’honneur et la morale traditionnelle enseignée par le karaté-do sont basés sur l’acquisition de cette maîtrise.</p>
          <button type="button" name="button" class="connexion">connexion</button>
    </div>
    <div class="right">
      <img src="../../assets/img/karate.png" alt="">
    </div>
  </div>
</section>
