@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
#top{
  position:relative;
  width:100%;
  height:100vh;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}
section img{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  object-fit:cover;
  pointer-events:none;
}
#top .background-filter{
  width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right top, #000000Df, #00000088, #2a142455, #381b3810, #40255000);
}
#top .navbar{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  z-index:3;
  display:flex;
  justify-content: space-between;
}
#top .navbar .logo{
  position: relative;
  width:50px;
  height:50px;
  margin:40px 0 0 60px;
}

#top .navbar .logo img{
  height:auto;
}

#top .navbar .nav{
}
#top .navbar .nav ul{
  margin:auto;
  margin-right:50px;
  padding-top: 20px;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 20px;
}

#top .navbar .nav ul li{
  float: left;
  padding:30px;
}

#top .center{
  position:absolute;
  width:100%;
  left: 0;
  z-index:4;
  display:flex;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

#top .center div{
  position: relative;
  height: 450px;
  width: 50%;
  top:30%;
}

#top .center .right {
  align-items: center;
  display: flex;
  text-align: center;
}

#top .left h1 {
  font-size: 5rem;
  margin: auto;
  padding-left: 32%;
}

#top .left span {
  padding: 5px;
  font-size: 17px;
  padding-left: 33%;
}
#top .left p{
  margin: 68px 0;
  padding-right: 24%;
  font-size: 18px;
  padding-left: 33%;
}

#top .left button {
    padding: 15px 37px;
    font-size: 25px;
    border-radius: 30px;
    border: none;
    background: #701526;
    color: white;
    margin-left: 32%;
}

#top .center .right img{
  height: auto;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1122px) {
  #top .center .right{
    display:none;
  }
  #top .center .left{
    width: auto;
  }
  #top .center .left h1{
    padding-left:20%;
  }
  #top .center .left p{
    padding-left:21%;
  }
  #top .center .left span{
    padding-left:21%;
  }
  #top .center .left button{
    margin-left:20%;
  }
}
@media (max-width: 439px) {
  #top .navbar .nav ul{
    margin-right:10px;
  }
  #top .navbar .nav ul li{
      padding:20px;
  }

  #top .navbar .logo{
    width:30px;
    height:30px;
    margin:40px 0 0 60px;
  }
}
