<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar" [ngClass]="{active:_active}">
    <div class="py-4 px-3 mb-4 bg-white" style="border-bottom: 2px solid #83112e;">
        <div class="media d-flex align-items-center">
            <div class="media-body">
                <img src="../../assets/img/karatelogo.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pt-2 pb-1 mb-0">Menu</p>
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item" >
            <a [routerLink]="['']" class="nav-link my-1 ml-2 text-dark ">
                <i class="bi bi-columns-gap mr-2 "></i>
                    Tableau de Bord
            </a>
        </li>
    </ul>
    

    <p class="text-gray font-weight-bold text-uppercase px-3 small pt-2 pb-1 mb-0">Membres</p>
    <ul class="nav flex-column bg-white mb-0 ">
        <li class="nav-item" >
            <a [routerLink]="['membres']" class="nav-link my-1 ml-2  text-dark">
                <i class="bi bi-columns-gap mr-2 "></i>
                    Liste des membre
            </a>
        </li>
        <li class="nav-item text-dark" >
            <a  [routerLink]="['ajout-membre']" class="nav-link  my-1 ml-2 text-dark" >
                <i class="bi bi-person-plus-fill mr-2"></i>
                    Ajouter un membre
            </a>
        </li> 
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pt-2 pb-1 mb-0">Activites</p>
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item" >
            <a [routerLink]="['activites']" class="nav-link my-1 ml-2  text-dark">
                <i class="bi bi-list-nested mr-2"></i>
                Liste des activites
            </a>
        </li>
        <li class="nav-item text-dark" >
            <a  [routerLink]="['ajout-activitee']" class="nav-link  my-1 ml-2 text-dark" >
                <i class="bi bi-plus mr-2" style="font-size: larger;"></i>
                    Ajouter une activite
            </a>
        </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pt-2 pb-1 mb-0">Groupes</p>
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item" >
            <a [routerLink]="['groupes']" class="nav-link my-1 ml-2 text-dark ">
                <i class="bi bi-people-fill mr-2"></i>
                Liste des groupes
            </a>
        </li>
        <li class="nav-item text-dark" >
            <a  [routerLink]="['ajout-groupe']" class="nav-link  my-1 ml-2 text-dark" >
                <i class="bi bi-plus mr-2" style="font-size: larger;"></i>
                    Ajouter un groupe
            </a>
        </li>
    </ul>

    <nav class="navbar fixed-bottom navbar-light " style="position: initial;background: white;">
        <div class="container-fluid">
            <ul class="nav flex-column bg-white mb-0">
                <!--  <li class="nav-item" >
                        <a [routerLink]="['']" class="nav-link text-info my-2 ml-2 text-center" >
                            <i class="bi bi-person-circle mr-2 "></i>
                            Profil
                        </a>
                    </li>
                -->
                <li class="nav-item">
                    <a [routerLink]="['../logout']" class="nav-link text-danger my-2 ml-2">
                        <i class="bi bi-box-arrow-left mr-2"></i>
                        Deconnexion
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- End vertical navbar -->              


<!-- Page content holder -->
<div class="page-content p-0" id="content" [ngClass]="{active:_active}">
<!-- Toggle button -->
<div class="top ">
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 m-4" (click)="side_bar_menu()"><div class="animated-icon2" [ngClass]="{open:!_active}"><span></span><span></span><span></span><span></span></div></button>
</div>
<router-outlet></router-outlet>
</div>
<!-- content -->


