<form #f="ngForm" (ngSubmit)="submit(f)" >
  <div class="form-group">
    <label for="firstname">PRENOM</label>
    <input
      required
      ngModel
      name="firstname"
      #firstname="ngModel"
      (change)="log(firstname)"
      id="firstname"
      type="text"
      class="form-control">

    <div class="alert alert-danger" *ngIf="firstname.touched&&!firstname.valid">

      <div   *ngIf="firstname.errors?.required">PRENOM obligatoire </div>
    </div>

    <label for="lastname"> NOM</label>
    <input
      required
      ngModel
      name="lastname"
      #lastname="ngModel"
      (change)="log(lastname)"
      id="lastname"
      type="text"
      class="form-control">

    <div class="alert alert-danger" *ngIf="lastname.touched&&!lastname.valid">

      <div   *ngIf="lastname.errors?.required"> nom obligatoire </div>
    </div>

    <label for="datenaissance">DATE DE NAISSANCE</label>
    <input
      required
      ngModel
      name="datenaissance"
      #datenaissance="ngModel"
      (change)="log(datenaissance)"
      id="datenaissance"
      type="text"
      class="form-control">

    <div class="alert alert-danger" *ngIf="datenaissance.touched&&!datenaissance.valid">

      <div   *ngIf="datenaissance.errors?.required">DATE DE NAISSANCE OBLIGATOIRE  </div>
    </div>

    <label for="genre">GENRE</label>
    <input
      required
      ngModel
      name="genre"
      #genre="ngModel"
      (change)="log(genre)"
      id="genre"
      type="text"
      class="form-control">

    <div class="alert alert-danger" *ngIf="genre.touched&&!genre.valid">

      <div   *ngIf="genre.errors?.required">genre obligatoire </div>
    </div>

    <label for="categorie">CATEGORIE</label>
    <input required ngModel name="categorie" #categorie="ngModel" (change)="log(categorie)" id="categorie" type="text" class="form-control">

    <div class="alert alert-danger" *ngIf="categorie.touched&&!categorie.valid">
      <div   *ngIf="categorie.errors?.required"> categorie obligatoire </div>
    </div>


  </div>

  <p>
    {{f.value | json}}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">ajouter</button>
</form>
