<div class="conainer-fluid">
    <div class="w-100 pl-5 text-white top-title">
      <h2 class="pl-5 ml-3 pt-4 pb-4 text-left">Ajouter un administrateur</h2>
    </div>
      <form  [formGroup]="formAA" (submit)="submit()" class="container mt-5 p-5">
        <div *ngIf="_error" class="input-group  mb-2 alert-danger rounded py-4 px-3">
          {{_error}}
        </div>
        <div *ngIf="_success" class="input-group mb-2 alert-info rounded py-4 px-3">
          {{_success}}
        </div>
      <div class="form-group">
        <label for="NomAdm">Nom </label>
        <input type="text" id="NomAdm" class="form-control py-4" formControlName="NomAdm" [ngClass]="formAA.controls['NomAdm'].invalid && NomAdm.touched ? 'is-invalid' : formAA.controls['NomAdm'].valid? 'is-valid': '' ">
        <div class="invalid-feedback" *ngIf="NomAdm.touched">
          Ce champs est obligatoire.
        </div>
      </div>
      <div class="form-group">
        <label for="PrenomAdm">Prenom </label>
        <input type="text" id="PrenomAdm" class="form-control py-4" formControlName="PrenomAdm" [ngClass]="formAA.controls['PrenomAdm'].invalid && PrenomAdm.touched ? 'is-invalid' : formAA.controls['PrenomAdm'].valid? 'is-valid': '' ">
        <div class="invalid-feedback" *ngIf="PrenomAdm.touched">
          Ce champs est obligatoire.
        </div>
      </div>
      <div class="form-MailAdm">
        <label for="PrenomGroupe">Adresse mail </label>
        <input type="text" id="MailAdm" class="form-control py-4" formControlName="MailAdm" [ngClass]="formAA.controls['MailAdm'].invalid && MailAdm.touched ? 'is-invalid' : formAA.controls['MailAdm'].valid? 'is-valid': '' ">
        <div class="invalid-feedback" *ngIf="MailAdm.touched">
          Ce champs est obligatoire.
        </div>
      </div>
      <div class="form-group">
        <label for="TlphnAdm"> Telephone</label>
        <input id="TlphnAdm" class="form-control" formControlName="TlphnAdm" [ngClass]="formAA.controls['TlphnAdm'].invalid && TlphnAdm.touched ? 'is-invalid' : formAA.controls['TlphnAdm'].valid? 'is-valid': '' ">
        <div class="invalid-feedback" *ngIf="TlphnAdm.touched">
          Ce champs est obligatoire.
        </div>
      </div>

      <div class="form-group">
        <label for="Role">Rôle</label>
        <select type="text" id="Role" class="form-control" formControlName="Role" [ngClass]="formAA.controls['Role'].invalid && Role.touched ? 'is-invalid' : formAA.controls['Role'].valid? 'is-valid': '' ">
          <option value="" selected disabled>Choisissez votre rôle</option>
          <option *ngFor="let r of Roles" [value]="r.id">{{r.val}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="Role.touched">
          Ce champs est obligatoire.
        </div>

        
      <div class="form-group">
        <label for="MdpAdm"> Mot de passe</label>
        <input type="password" id="MdpAdm" class="form-control" formControlName="MdpAdm" [ngClass]="formAA.controls['MdpAdm'].invalid && MdpAdm.touched ? 'is-invalid' : formAA.controls['MdpAdm'].valid? 'is-valid': '' ">
        <div class="invalid-feedback" *ngIf="MdpAdm.touched">
          Ce champs est obligatoire.
        </div>
      </div>

      <div class="form-group">
        <label for="MdpAdmC"> Confirmation mot de passe </label>
        <input type="password" id="MdpAdmC" class="form-control" formControlName="MdpAdmC" [ngClass]="formAA.controls['MdpAdmC'].invalid && MdpAdmC.touched ? 'is-invalid' : formAA.controls['MdpAdmC'].valid? 'is-valid': '' ">
        <div class="invalid-feedback" *ngIf="MdpAdmC.touched">
          Ce champs est obligatoire.
        </div>
      </div>


  
  
      
  
        <button type="submit" class="btn btn-primary px-3 py-2 mr-3 mt-2" style="float: right;" >Valider</button>
  
  
  </div>
  