<div class="conainer-fluid">
    <div class="w-100 pl-5 text-white top-title">
      <h2 class="pl-5 ml-3 pt-4 pb-4 text-left">Calendrier</h2>
    </div>
    <div *ngIf="_error" class="alertBack">
      <div class="input-group  mb-2 alert-danger rounded py-4 px-3">
        <div class="col-11">
          {{_error}}
        </div>
        <div class="col-1 h3 m-0 ng-tns-c164-0 p-0 text-center btn" (click)="errorAlert()">
          <i class="bi bi-x h3"></i>
        </div>
      </div>
    </div>
    <div class="m-5 py-3 w-80">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
