<div class="container">
  <h1>
    Ajouter activité
  </h1>
  <form  [formGroup]="form" (submit)="submit()" >

    <div class="form-group">
      <label for="nomactivite">Nom d'activité</label>
      <input type="text" id="nomactivite" class="form-control" formControlName="nomactivite" [ngClass]="form.controls['nomactivite'].invalid && nomactivite.touched ? 'is-invalid' : form.controls['nomactivite'].valid? 'is-valid': '' ">
      <div class="invalid-feedback" *ngIf="nomactivite.touched">
        Ce champs est obligatoire.
      </div>
    </div>

    <div class="form-group">
      <label for="Cotisation">Cotisation</label>
      <input type="text" id="Cotisation" class="form-control" formControlName="Cotisation" [ngClass]="form.controls['Cotisation'].invalid && Cotisation.touched ? 'is-invalid' : form.controls['Cotisation'].valid? 'is-valid': '' ">
      <div class="invalid-feedback" *ngIf="Cotisation.touched">
        Ce champs est obligatoire.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" >ajouter </button>


  </form>
</div>
