.top-title {
  background: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  box-shadow: 1px 2px 10px #62055fc2;
  }
  table{
    max-width: 100%;
    min-width: 100%;
  }
  .btn-edit {
    text-align: right;
  }
  h2 {
    text-align: center;
    padding-top: 20px;
  }

