<div class="container">
    <h1>
      Ajouter groupe
    </h1>
    <form  [formGroup]="formAA" (submit)="submit()">

    <div class="form-group">
      <label for="NomGroupe">Nom groupe</label>
      <input type="text" id="NomGroupe" class="form-control" formControlName="NomGroupe" [ngClass]="formAA.controls['NomGroupe'].invalid && NomGroupe.touched ? 'is-invalid' : formAA.controls['NomGroupe'].valid? 'is-valid': '' ">
      <div class="invalid-feedback" *ngIf="NomGroupe.touched">
        Ce champs est obligatoire.
      </div>
    </div>

    <div class="form-group">
      <label for="Instructeur">Instructeur</label>
      <select id="Instructeur" class="form-control" formControlName="Instructeur" [ngClass]="formAA.controls['Instructeur'].invalid && Instructeur.touched ? 'is-invalid' : formAA.controls['Instructeur'].valid? 'is-valid': '' ">
        <option value="" selected disabled>Choisissez un instructeur ...</option>
        <option *ngFor="let ins of Instructeurs" [value]="ins.id">{{ins.nom}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="Instructeur.touched">
        Ce champs est obligatoire.
    </div>
    </div>
    <button type="submit" class="btn btn-primary" >Ajouter</button>


</form> 
</div>