html{
  width: 4567px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  color:#5f379c ;
  padding: 16px;
}

.example-element-description-attribution {
  padding-left: 8px;
  color: black;
  opacity: 0.7;
}

.top-title {
  width: 3300px;
  background:linear-gradient(to right , #692f94, #3f51b5);
  box-shadow: 1px 2px 10px #5e60ce;
  }
  table{
    width: 3300px;;
    min-width: 100%;
  }
  .btn-edit {
    text-align: right;
  }
  h2 {
    text-align: center;
    padding-top: 20px;
  }
  .recherche {
    width: 51%;
    padding: 15px;
    background: #fff;
    box-shadow: 2px 2px 10px #c7c7c7;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 20px;
    overflow: hidden;
    box-sizing: content-box;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.operation{
  display: flex;
    align-items: baseline;
}
.alertBack {
  background: #ffffff2e;
  position: fixed;
  right: 0;
  z-index: 3;
  width: calc(100% - 15rem);
  height: 100%;
  align-items: center;
  padding: 200px;
}