html{
  width: 4567px;
}
.top-title {
  width: 4326px;
  background:linear-gradient(to right top, #c31432, #240b36);
  box-shadow: 1px 2px 10px #f44336;
  }
  table{
    width: 4326px;
    min-width: 100%;
  }
  .btn-edit {
    text-align: right;
  }
  h2 {
    text-align: center;
    padding-top: 20px;
  }
  .recherche {
    width: 45%;
    height: 100px;
    padding: 15px;
    background: #fff;
    box-shadow: 2px 2px 10px #c7c7c7;
    border-radius: 5px;
    position: fixed;
    right: 15px;
    top: 20px;
    overflow: hidden;
    box-sizing: content-box;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.operation{
  display: flex;
    align-items: baseline;
}