<div class="table table-bordered"  >


 <nav class="navbar">
   <input class="form-control" type="text" name="Nom" [(ngModel)] = "Nom" (ngModelChange) = "Search()" placeholder="Entrez le nom et/ou prenom">
 </nav>

    <table id="excel-table">
      <tr>
        <th>Id</th>
        <th>LicenceFFK</th>
        <th>Nom </th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Genre</th>
        <th>Categorie</th>
        <th>Adresse</th>
        <th>Tlphn1</th>
        <th>Tlphn2</th>
        <th>Email</th>
        
      </tr>
      <tr *ngFor="let membre of membres">
        <td>{{membre.id}}</td>
        <td>{{membre.LicenceFFK}}</td>
        <td>{{membre.Nom}}</td>
        <td>{{membre.Prenom}}</td>
        <td>{{membre.DateNaissance}}</td>
        <td>{{membre.Genre}}</td>
        <td>{{membre.categorie}}</td>
        <td>{{membre.Adresse}}</td>
        <td>{{membre.Tel1}}</td>
        <td>{{membre.Tel2}}</td>
        <td>{{membre.Email}}</td>
      </tr>
    </table>
  </div>
  <button class="btn btn-primary" (click)="exportexcel()">Exporter en Excel</button>
