.top-title {
    width: 100%;
    background:linear-gradient(to left bottom, #28a745, #17a2b8);
    box-shadow: 1px 2px 10px #46ddb0;
}
.main{
    display: flex;
}
.main .left,.main .right{
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membre {
    height: 45%;
    width: 75%;
    margin: 4%;
    padding: 4%;
    border-radius: 10px;
    background: linear-gradient(to top right, #55CC80, #6BD0C3);
    color: white;
    box-shadow: 1px 1px 20px 4px #41fbc0b5;
    cursor: pointer;
    transition: .5s;
}
.membre:hover,.groupe:hover  {
    transform: scale(1.03);
}
.membre h4 {
    font-size: 2rem;
}
.membre p {
    margin-top: 5%;
    width: 80%;
    font-size: 20px;
}
.membre span {
    float: right;
    font-size: 30px;
    transform: translate(-20px, -20px);
}
.groupe {
    margin: 4%;
    padding: 5%;
    width: 75%;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px #adadad;
    transition: .5s;
    cursor:pointer;
}
.groupe h5 {
    font-size: 1.4rem;
}
.horloge {
    width: 70%;
    height: 130px;
    margin: 4%;
    padding: 2%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px #d2d2d2;
}
.color {
    content: ' ';
    height: 100%;
    width: 12px;
    position: absolute;
    left: 0;
    background: linear-gradient(45deg, #28a745, #17a2b8);
}
.horloge h5{
    width: 100%;
    font-size: 2rem;
}
.activities {
    width: 85%;
    height: 80%;
    padding: 6%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px #d2d2d2;
}
.activities ul {
    margin: 25px;
    list-style: none;
    padding: 0;
}
.activities ul li {
    padding: 3px;
    display: flex;
    align-items: center;
}
.activities ul li span {
    margin-left: 10px;
}
.activities ul li div {
    width: 10px;
    height: 10px;
}
.Ajout{
    background: #17a2b8;
}
.Modification{
    background: #e79b37;
}
.Suppression{
    background: #ec3030;
}
.Creation{
    background: #16b116;
}