<div class="conainer-fluid pb-5">
    <div class="w-100 pl-5 text-white top-title">
      <h2 class="pl-5 ml-3 pt-4 pb-4 text-left">Mon profil</h2>
    </div>

      <form  [formGroup]="formAA" (submit)="submit()" class="container mt-5 p-5 mb-5">
        
        <div *ngIf="_error" class="input-group  mb-2 alert-danger rounded py-4 px-3">
          {{_error}}
        </div>
        <div *ngIf="_success" class="input-group mb-2 alert-info rounded py-4 px-3">
          {{_success}}
        </div>
        <p>Les champs avec  <b class="text-danger">  *  </b> sont obligatoires. </p> 

        <div class="row w-100">
          <div class="form-group col-12">
            <label for="LicenceIns">Numero de Licence FFK<b class="text-danger">*</b></label>
            <input type="text" id="LicenceIns" pattern="[a-zA-Z0-9]{1,50}" class="form-control py-4" formControlName="LicenceIns" [ngClass]="formAA.controls['LicenceIns'].invalid && LicenceIns.touched ? 'is-invalid' : formAA.controls['LicenceIns'].valid? 'is-valid': '' " #ffk >
            <div class="invalid-feedback" *ngIf="LicenceIns.touched">
              Ce champs est obligatoire.
            </div>
            <div class="invalid-feedback" *ngIf="LicenceIns.invalid">
              Merci de saisir que des lettres et des chiffres.
            </div>
  
          </div>
        </div>
        <div class="row w-100">
          <div class="form-group col-6">
            <label for="NomIns">Nom <b class="text-danger">*</b></label>
            <input type="text" id="NomIns" class="form-control py-4" formControlName="NomIns" [ngClass]="formAA.controls['NomIns'].invalid && NomIns.touched ? 'is-invalid' : formAA.controls['NomIns'].valid? 'is-valid': '' ">
            <div class="invalid-feedback" *ngIf="NomIns.touched">
              Ce champs est obligatoire.
            </div>
          </div>
  
          <div class="form-group col-6">
            <label for="PrenomIns">Prénom<b class="text-danger">*</b></label>
            <input type="text" id="PrenomIns" class="form-control py-4" formControlName="PrenomIns" [ngClass]="formAA.controls['PrenomIns'].invalid && PrenomIns.touched ? 'is-invalid' : formAA.controls['PrenomIns'].valid? 'is-valid': '' ">
            <div class="invalid-feedback" *ngIf="PrenomIns.touched">
              Ce champs est obligatoire.
            </div>
          </div>
  
        </div>
  
        <div class="row w-100">
  
          <div class="form-group col-6">
            <label for="dateN">Date de Naissance<b class="text-danger">*</b></label>
            <input type="date" id="dateN" class="form-control py-4" formControlName="dateN" [ngClass]="formAA.controls['dateN'].invalid && dateN.touched ? 'is-invalid' : formAA.controls['dateN'].valid? 'is-valid': '' ">
            <div class="invalid-feedback" *ngIf="dateN.touched">
              Ce champs est obligatoire.
            </div>
          </div>
  
  
          <div class="form-group col-6">
            <label for="genre">Genre<b class="text-danger">*</b></label>
            <select type="text" id="genre" class="form-control" formControlName="genre" [ngClass]="formAA.controls['genre'].invalid && genre.touched ? 'is-invalid' : formAA.controls['genre'].valid? 'is-valid': '' " style=" height: 50px;">
              <option value="" selected disabled>Genre</option>
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
            </select>
            <div class="invalid-feedback" *ngIf="genre.touched">
              Ce champs est obligatoire.
            </div>
          </div>
  
        </div>
        <div class="row w-100 m-0">
          <div class="row w-50 col-6 p-0">
              <div class="form-group col-12">
                <label for="tlphn1"> Telephone1<b class="text-danger">*</b></label>
                <input id="tlphn1" class="form-control py-4" formControlName="tlphn1" [ngClass]="formAA.controls['tlphn1'].invalid && tlphn1.touched ? 'is-invalid' : formAA.controls['tlphn1'].valid? 'is-valid': '' ">
                <div class="invalid-feedback" *ngIf="tlphn1.touched">
                  Ce champs est obligatoire.
                </div>
              </div>
  
              <div class="form-group col-12">
                <label for="tlphn2">Telephone2</label>
                <input type="text" id="tlphn2" class="form-control py-4" formControlName="tlphn2">
  
              </div>
  
              <div class="form-group col-12">
                <label for="MailIns">Email<b class="text-danger">*</b></label>
                <input type="email" id="MailIns" class="form-control py-4" formControlName="MailIns" [ngClass]="formAA.controls['MailIns'].invalid && MailIns.touched ? 'is-invalid' : formAA.controls['MailIns'].valid? 'is-valid': '' ">
                <div class="invalid-feedback" *ngIf="MailIns.touched">
                  Ce champs est obligatoire.
                </div>
              </div>
          </div>
          <div class="row w-50 col-6 ml-0">
            <div class="form-group col-12">
              <label for="adresse">Adresse<b class="text-danger">*</b></label>
              <textarea id="adresse" class="form-control py-4" formControlName="adresse" rows="9" [ngClass]="formAA.controls['adresse'].invalid && adresse.touched ? 'is-invalid' : formAA.controls['adresse'].valid? 'is-valid': '' ">
              </textarea>
              <div class="invalid-feedback" *ngIf="adresse.touched">
                Ce champs est obligatoire.
              </div>
            </div>
  
          </div>
        </div>  
        <div class="row w-100">

          <div class="form-group col-6">
            <label for="categorie">Categorie<b class="text-danger">*</b></label>
            <select id="categorie" class="form-control" formControlName="categorie" [ngClass]="formAA.controls['categorie'].invalid && categorie.touched ? 'is-invalid' : formAA.controls['categorie'].valid? 'is-valid': '' " style=" height: 50px;" #Cat>
              <option value="" selected disabled>Sélectionnez une categorie ...</option>
              <option *ngFor="let cat of Categories" [value]="cat.nomCategorie">{{cat.nomCategorie}} {{cat.Description}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="categorie.touched">
              Ce champs est obligatoire.
            </div>
          </div>
          <div class="form-group col-6">
            <label for="grade">grade<b class="text-danger">*</b></label>
            <select id="grade" class="selectpicker form-control" formControlName="grade" [ngClass]="formAA.controls['grade'].invalid && grade.touched ? 'is-invalid' : formAA.controls['grade'].valid? 'is-valid': '' " style=" height: 50px;">
              <option value="" selected disabled>Sélectionnez une grade ...</option>
              <option value="Blanche" style="color:rgb(197, 197, 197)">&#xf111; Blanche</option>
              <option value="Jaune" style="color:rgb(231, 229, 85)">&#xf111; Jaune</option>
              <option value="Orange" style="color:rgb(236, 133, 48)">&#xf111; Orange</option>
              <option value="Verte" style="color:rgb(101, 216, 111)">&#xf111; Verte</option>
              <option value="Bleue 1" style="color:rgb(41, 103, 246)">&#xf111; Bleue 1</option>
              <option value="Bleue 2" style="color:rgb(40, 79, 209)">&#xf111; Bleue 2</option>
              <option value="Marron 1" style="color:rgb(175, 82, 6)">&#xf111; Marron 1</option>
              <option value="Marron 2" style="color:rgb(182, 91, 7)">&#xf111; Marron 2</option>
              <option value="Marron 3" style="color:rgb(170, 99, 7)">&#xf111; Marron 3</option>
              <option value="Noire" style="color:rgb(0, 0, 0)">&#xf111; Noire</option>
            </select>
            <div class="invalid-feedback" *ngIf="grade.touched">
              Ce champs est obligatoire.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary px-3 py-2 mr-3 mt-2" style="float: right;" >Mettre à jour mon profil</button>

      </form>
      
  
  