<div class="conainer-fluid">
  <div class="w-100 pl-5 text-white top-title">
    <h2 class="pl-5 ml-3 pt-4 pb-4 text-left">Liste des groupes</h2>
  </div>
  <div class="recherche">
    <h5 class="w-100">Barre de recherche :</h5>
    <input (keyup)="applyFilter($event)" placeholder="Recherchez...." #input>
  </div>
     
    <div class="shadow-sm p-3 mb-5 bg-white rounded operation">
      <h6>Operations :</h6>
      <button class="btn btn-info ml-3" (click)="exportexcel()"><i class="bi bi-file-earmark-spreadsheet-fill mr-2"></i>Exporter en Excel</button>
    </div>

    

  <table id="excel-table" mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="col !== '$$edit'">
          {{col}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div *ngIf="!element.isEdit">
          
          <div class="btn-edit" *ngIf="col === '$$edit'; spanHeader" >
            <button class="btn btn-link text-dark" title="Modifier" (click)="element.isEdit = !element.isEdit"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-link text-danger ml-2" title="Supprimer" (click)="delete(element['Nom'],i,element['id'])"><i class="bi bi-trash-fill"></i></button>
          </div>           
          <span *ngIf="col === 'Password'; spanHeader" #spanHeader>
            {{hashPassword(element[col])}}
          </span>
          <span *ngIf="col !== 'Password'; spanHeader" #spanHeader>
            {{ element[col]}}
          </span>
        
        </div>
        <div *ngIf="element.isEdit">
          <div class="btn-edit" *ngIf="col === '$$edit'; else passwordField">
            <button class="btn btn-success text-white" title="Valider" (click)="element.isEdit = !element.isEdit;edit(element)"><i class="bi bi-check-square-fill"></i> valider</button>
          </div>
          <ng-template #passwordField>
            <mat-form-field *ngIf="col==='Nouveau Mot de passe'; else SelectField">
              <mat-label>{{col}}</mat-label>
              <input type="password" [type]="hide ? 'password' : 'text'" matInput [(ngModel)]="element[col]"> 
              <mat-icon matSuffix (click)="hide = !hide"> <i [ngClass]="{'bi bi-eye-slash-fill': !hide , 'bi bi-eye-fill':hide}"></i></mat-icon>
            </mat-form-field>
          </ng-template>
          
          <ng-template #SelectField>
            <mat-form-field *ngIf="col==='roles'; else defaultField" >
              <mat-label>Role</mat-label>
              <mat-select [(value)]="element[col]">
                <mat-option value="president" >president</mat-option>
                <mat-option value="secretaire">secretaire</mat-option>
                <mat-option value="instructeur">instructeur</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
          <ng-template #defaultField>
            <mat-form-field *ngIf="col!=='id'; else nonEditedTemplate">
              <mat-label>{{col}}</mat-label>
              <input type="{{dataSchema[col]}}" matInput [(ngModel)]="element[col]"> 
            </mat-form-field>
          </ng-template>
          <ng-template #nonEditedTemplate>
            <span #spanHeader>
              {{element[col]}} 
            </span>
          </ng-template>

        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 50, 200]" showFirstLastButtons></mat-paginator>
  


